<div class="d-flex justify-content-end me-2 align-items-center">
    <div class="d-inline-flex mt-2">
        <p class="fs-4">
            Items:
        </p>
        <p class="fs-4 fw-semibold ms-2">
            {{board?.items?.length}}
        </p>
    </div>

    <div class="d-inline-flex mt-2 ms-2">
        <p class="fs-4">
            Board:
        </p>
        <p class="fs-4 fw-semibold ms-2">
            {{board?.name}}
        </p>
    </div>


    <div class="hover-size">
        <a class="ms-2 icon-link link-dark" (click)="GoToBoardDetails()" pTooltip="Settings" tooltipPosition="left">
            <i class="pi pi-cog" spin-hover style="font-size: 1.75rem"></i>
        </a>
    </div>

    <div class="hover-size">
        <a class="ms-2 icon-link link-dark" (click)="GoToAddNewTaskView()" pTooltip="Add new task"
            tooltipPosition="left">
            <i class="pi pi-plus-circle" spin-hover style="font-size: 1.75rem"></i>
        </a>
    </div>
</div>

<div class="d-grid mx-3">
    <table class="table table-striped">
        <thead class="table-dark">
            <tr class="row">
                <th class="col" *ngFor="let columnName of columnsHeaders">
                    <h4 class="text-center">
                        {{columnName}}
                    </h4>
                </th>
            </tr>
        </thead>
        <!-- <tbody>
            <tr class="row" *ngFor="let ind of indexes" cdkDropList>
                <td  class="col" *ngFor="let columnName of columnsHeaders">
                    <div class="text-center">
                        <app-item-mini [selectedItem]="GetItem(columnName, ind)"></app-item-mini>
                        
                    </div>
                </td>
            </tr>
        </tbody> -->
    </table>

    <!-- <div class="row" *ngFor="let ind of indexes">
            <div class="col" *ngFor="let columnName of columnsHeaders">
                <app-item-mini [selectedItem]="GetItem(columnName, ind)"></app-item-mini>
            </div>
        </div> -->

    <!-- <div class="row">
        <div class="col" *ngFor="let itemVm of itemTable;" 
         cdkDropList
         [cdkDropListData]="itemVm.items"
         (cdkDropListDropped)="Drop($event)">
            <div class="row mt-2" *ngFor="let item of itemVm.items">
                <app-item-mini [selectedItem]="item" cdkDrag></app-item-mini>
            </div>
        </div>
    </div> -->

    <div class="row" cdkDropListGroup>
        <div class="col" *ngFor="let itemVm of itemTable;" [ngClass]="'column ' + itemVm.column.toString()" cdkDropList
            [cdkDropListData]="itemVm.items" (cdkDropListDropped)="Drop($event)">
            <div class="row mt-2" *ngFor="let item of itemVm.items">
                <app-item-mini [selectedItem]="item" cdkDrag [cdkDragData]="item"></app-item-mini>
            </div>
        </div>
    </div>

    <!-- <div class="row">
        <div class="col" 
         cdkDropList
         [cdkDropListData]="GetItems(columnsHeaders[0])"
         (cdkDropListDropped)="Drop($event)">
            <div class="row mt-2" *ngFor="let ind of indexes;" >
                <app-item-mini [selectedItem]="GetItem(columnsHeaders[0], ind)" cdkDrag></app-item-mini>
            </div>
        </div>

        <div class="col" 
        cdkDropList
        [cdkDropListData]="GetItems(columnsHeaders[1])"
        (cdkDropListDropped)="Drop($event)">
            <div class="row mt-2" *ngFor="let ind of indexes;" >
                <app-item-mini [selectedItem]="GetItem(columnsHeaders[1], ind)" cdkDrag></app-item-mini>
            </div>
        </div>
    </div> -->

    <!-- <div class="row">
        <div class="col" *ngFor="let column of columns">
            <div class="text-center">
                {{column}}
            </div>
        </div>
    </div> -->
</div>